.container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.cadastroContainer {
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: darken;
  border-color: #020202;
  border-style: solid;
  border-radius: 2rem;
  display: flex;
  margin-bottom: 10vh;
}

.cadastroContainerDiv {
  width: 46%;
  height: 80%;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.cadastroUsername,
.cadastroName,
.cadastroEmail,
.cadastroSenha,
.cadastroTelefone,
.cadastroData,
.cadastroSexo,
.cadastroAltura,
.cadastroPeso,
.cadastroObjetivo,
.cadastroRestricao,
.cadastroCondicionamento{
  justify-content: center;
  align-items: center;
  height: 6vh;
  font-size: 1.6vh;
  color: white;
  position: relative;
  margin-top: 59px;
}

.cadastroUsernameInput,
.cadastroNameInput,
.cadastroEmailInput,
.cadastroSenhaInput,
.cadastroTelefoneInput,
.cadastroDataInput,
.cadastroSexoInput,
.cadastroAlturaInput,
.cadastroPesoInput,
.cadastroObjetivoInput,
.cadastroRestricaoInput,
.cadastroCondicionamentoInput {
  width: 90vh;
  height: 110%;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vh;
  background-color: #373737;
  opacity: 0.5;
  color: white;
  opacity: 0.5;
}

.cadastroEnviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
  text-align: center;
  margin-bottom: 10vh
}

.cadastroButton {
  width: 24vh;
  height: 8vh;
  border-radius: 1.6vh;
  background-color: #ffffff;
  color: black;
  font-size: 2.4vh;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.cadastroButton:hover {
  background-color: #FFD700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}

@media (max-width: 1340px) {
  .cadastroContainer {
    width: 90%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

  .cadastroTitle {
    font-size: 2rem;
  }


  .cadastroProfileImage {
    height: 10vh;
    width: 10vh;
    margin-top: 0.4vh;
  }

  .cadastroContainerDiv {
    width: 100%;
    height: 80%;
    margin-left: 2%;
  }

  .cadastroUsername,
  .cadastroName,
  .cadastroEmail,
  .cadastroSenha,
  .cadastroTelefone,
  .cadastroData,
  .cadastroSexo,
  .cadastroAltura,
  .cadastroPeso {
    font-size: 0.8rem;
    width: 80%;
  }

  .cadastroUsernameInput,
  .cadastroNameInput,
  .cadastroEmailInput,
  .cadastroSenhaInput,
  .cadastroTelefoneInput,
  .cadastroDataInput,
  .cadastroSexoInput,
  .cadastroAlturaInput,
  .cadastroPesoInput {
    font-size: 0.8rem;
    width: 100%;
    height: 70%;
    display: flex;
    background-color: #373737;
  }

  .cadastroEnviar {
    text-align: center;
  }

  .cadastroButton {
    width: 28vh;
    height: 6vh;
    font-size: 1.2rem;
  }
}