.container {
    background-color: black;
  }
  
  .main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    color: white;
    gap: 4.77vh;
    font-weight: bold;
  }
  