.container {
  background-color: var(--bg-color);
  color: var(--opposite-color);
}

.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cadastroDiv {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.row {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  width: 90vw;
  justify-content: center;
}

.collumnOne,
.collumnTwo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}

.cadastroTopic,
.cadastroTopicSecondCollumn {
  font-size: 2rem;
  font-weight: bold;
  color: var(--opposite-color);
  margin-bottom: 20px;
}

.topicTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--opposite-color);
  margin-bottom: 10px;
}

.cadastroUsernameInput,
.cadastroEmailInput,
.cadastroObjetivoInput,
.cadastroAlturaInput,
.cadastroPesoInput,
.cadastroDataInput,
.cadastroSexoInput,
.cadastroNivelInput,
.cadastroCondicionamentoInput,
.cadastroSenhaInput {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: var(--section-bg);
  color: var(--opposite-color);
  font-size: 0.83rem;
}

.cadastroUsernameInput,
.cadastroEmailInput,
.cadastroObjetivoInput,
.cadastroNivelInput,
.cadastroCondicionamentoInput,
.cadastroSenhaInput {
  width: 65vw;
}

.cadastroObjetivoInput {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: var(--section-bg);
  color: var(--opposite-color);
  width: 65vw;
  resize: none;
  height: 15vh;
}

.cadastroSexoInput,
.cadastroDataInput,
.cadastroAlturaInput,
.cadastroPesoInput {
  width: 17.5vw;
}

.cadastroButton {
  background-color: #fff;
  border: 2px solid #000;
  color: black;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  height: 48px;
  min-width: 120px;
  width: 17.5vw;
  max-width: 220px;
  transition: background 0.3s, color 0.3s, transform 0.3s;
  box-sizing: border-box;
  margin-left: 36.25vw;
  margin-top: 5vh;
}

.cadastroButton:hover {
  background-color: #ffd700;
  color: black;
  transform: scale(1.05);
}

.passwordError,
.passwordErrorTwo {
  color: red;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .topicTitle {
    font-size: 1rem;
  }

  .cadastroUsernameInput,
  .cadastroEmailInput,
  .cadastroObjetivoInput,
  .cadastroNivelInput,
  .cadastroCondicionamentoInput,
  .cadastroSenhaInput,
  .cadastroSexoInput,
  .cadastroDataInput,
  .cadastroAlturaInput,
  .cadastroPesoInput {
    font-size: 0.75rem;
  }

}

@media (max-width: 950px) {
  .row {
    margin-top: 3vh;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .cadastroButton {
    margin-left: 0;
    width: 25vw;
  }

  .topicTitle {
    font-size: 1.25rem;
  }

  .cadastroUsernameInput,
  .cadastroEmailInput,
  .cadastroObjetivoInput,
  .cadastroNivelInput,
  .cadastroCondicionamentoInput,
  .cadastroSenhaInput {
    width: 90vw;
    font-size: 1rem;
  }

  .cadastroSexoInput,
  .cadastroDataInput,
  .cadastroAlturaInput,
  .cadastroPesoInput {
    width: 75vw;
    font-size: 1rem;

  }
}