.post {
    background-color: #373737;
    width: 60%;
    height: 250px;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 5vh;
    display: flex;
}

.profileIconDiv {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-left: 5%;
}

.profileIcon {
    width: 7.5%;
    position: absolute;
    border-radius: 50%;
}

.postContent {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    color: white; 
    height: 100%; 
    width: 50%; 
    margin-left: 20%;
}

.title {
    margin-top: 3vh;
}

.description {
    margin-top: 3vh;
}