.container {
    background-image: url(https://wallpapers.com/images/hd/fitness-gym-and-equipment-photography-dn9w2z4r8yd2wi47.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
}

.contatoImagem {
    width: 100%;
    background-blend-mode: darken;
    margin-top: 4vh;
}

.contatoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    margin-top: 2vh;
}

.contatoContainer {
    background-color: #000;
    width: 60%;
    margin-left: 20%;
    background-blend-mode: darken;
    border-color: #020202;
    border-width: 0.1rem;
    border-style: solid;
    height: 33rem;
    border-radius: 0.5rem;
    margin-top: 3vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}

.contatoContainerDiv {
    position: relative;
    width: 100%;
    height: 80%;
}

.contatoNome,
.contatoEmail {
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 3vh;
    width: 80%;
    margin-left: 10%;
    font-size: 1.6vh;
    color: white;
    margin-bottom: 4rem;
}

.contatoMensagem {
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 5.5rem;
    width: 80%;
    font-size: 1.6vh;
    color: white;
    margin-bottom: 4rem;
}

.contatoNameInput,
.contatoEmailInput,
.contatoMensagemInput {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    border: none;
}

.contatoMensagemInput {
    resize: none;
}

.contatoEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.contatoEnviar:hover {
    transition: 0.3s;
    background-color: var(--primary-color-hover);
}

@media (max-width: 768px) {
    .contatoContainer {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-bottom: 12vh;
    }

    .contatoTitle {
        font-size: 2rem;
    }

    .contatoContainerDiv {
        width: 100%;
        height: 100%;
        margin-left: -15px;
    }

    .contatoNameInput,
    .contatoEmailInput,
    .contatoMensagemInput {
        font-size: 1.8vh;
    }

    .contatoEnviar {
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
}