.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    gap: 2rem;
    color: white;
    padding: 1% 5%;
}

.logo {
    display: flex;
    align-items: center;
}

.home {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logoText {
    font-weight: bold;
    font-size: 30px;
    margin-left: 1rem;
}

.mainNav {
    width: 60%;
}

.mainNav ul {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 0.6rem;
}

.mainNav ul li {
    list-style: none;
}

.navLink {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #f1f0f0;
    position: relative;
    cursor: pointer;
}

.navLink:hover {
    color: #FFD700;
    transition: all 0.3s ease;
}

.navLink::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #FFD700;
    transition: width 0.3s ease, right 0.3s ease;
}

.navLink:hover::after {
    width: 100%;
    left: 0;
}

.logoText:hover {
    color: #FFD700;
    transition: all 0.3s ease;
}

.userIcon {
    display: none;
}

.menuIcon {
    display: none;
}

.dropdownMenu {
    display: none;
}

@media (max-width: 768px) {
    .mainNav {
        display: none;
    }

    .userIcon {
        display: block;
        cursor: pointer;
    }

    .menuIcon {
        display: block;
        cursor: pointer;
    }

    .logoText {
        font-size: 20px;
        margin-left: 0;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    .header {
        justify-content: space-around;
    }

    .dropdownMenu {
        position: absolute;
        top: 80px;
        left: 10px;
        background-color: #000000;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        z-index: 1;
    }
    
    .dropdownMenu.open {
        opacity: 1;
        visibility: visible;
    }
    
    
    .dropdownMenu ul {
        list-style: none;
        padding: 0;
        z-index: 999;
    }
    
    .dropdownMenu ul li {
        padding: 10px;
        text-align: center;
        z-index: 999;
    }
    
    .dropdownMenu ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        z-index: 999;
    }
}