.container {
    flex-direction: column;
    background-color: var(--bg-color);
}

.userPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    flex-direction: row;
    margin-top: 5vh;
}

.firstCollumn {
    width: 33vw;
    margin-left: 10vw;
    margin-right: 2vw;
    background-color: #373737;
    flex-direction: column;
    height: 100%;
    border-radius: 0.75rem;
    border: 2px solid var(--opposite-color);
}

.secondCollumn {
    width: 45vw;
    margin-right: 10vw;
    background-color: #373737;
    flex-direction: column;
    height: 100%;
    border-radius: 0.75rem;
    border: 2px solid var(--opposite-color);
}

.perfilPhotoDiv {
    margin-top: 5vh;
}

.perfilPhoto {
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
    border-radius: 100%;
    width: 15vw;
    height: 15vw;
    margin-left: 8vw;
}

.perfilPhotoEdit {
    display: block;
    object-fit: cover;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    position: relative;
    bottom: 5vh;
    margin-left: 17.8vw;
    transition: .3s ease;
}

.perfilPhotoEdit:hover {
    cursor: pointer;
}

.firstCollumnTopicTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 7.5%;
    margin-top: 2vh;
}

.firstCollumnTopicText {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    margin-left: 7.5%;
    margin-top: 1vh;
    background-color: var(--opposite-color);
    width: 85%;
    padding: 10px;
    border-radius: 6px;
}

.secondCollumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondCollumnTopicTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 2vh;
}

.secondCollumnTopicText {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 1vh;
}

.editButton {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: var(--theme-color) 1px solid;
    align-self: flex-end;
    margin-right: 2vw;
    margin-top: 2vh;
}

.editButton:hover {
    background-color: #ffcc00;
}