.container {
    background-color: var(--bg-color);
}

.inputDiv {
    padding: 1.5rem;
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.textBoxText {
    width: 60%;
    height: 75px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    background-color: var(--section-bg);
    color: var(--opposite-color);
}

.loginTextDiv {
    margin-left: 20%;
    width: 60%;
    height: 10rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    color: var(--text-color);
    margin-bottom: 60px;
    justify-content: space-between;
}

.loginTextPassword {
    font-size: 19px;
    color: var(--opposite-color);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}

.loginText {
    font-size: 19px;
    color: var(--opposite-color);
    font-weight: bold;
}

.loginTextPassword:hover {
    color: var(--joker-bg-color);
    transition: 0.3s;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0.5rem;
    font-size: 20px;
}

.button:hover {
    background-color: #FFD700;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1080px) {
    .logoText {
        font-size: 40px;
    }

    .textBoxText {
        width: 80%;
        height: 50px;
        font-size: 16px;
    }

    .loginTextDiv {
        width: 80%;
        margin-left: 10%;
    }

    .buttonDiv {
        padding-left: 40px;
        padding-bottom: 1px;
        font-size: 20px;
        width: 27%;
    }

    .loginTextPassword {
        font-size: 16px;
    }

    .loginText {
        font-size: 16px;
    }
}


@media (max-width: 560px) {
    .textBoxText {
        width: 100%;
        font-size: 13px;
    }

    .loginTextDiv {
        width: 100%;
        margin: auto;
    }

    .loginTextCollumn {
        width: 100%;
    }

    .loginTextPassword,
    .loginText {
        font-size: 14px;
    }

    .buttonDiv {
        padding-right: 50px;
        width: 27%;
    }
}