.container {
    background-color: black;
    height: 100vh;
}

.logoText {
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 80px;
    margin-bottom: 100px;
    font-size: 60px;
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.textBoxText {
    width: 60%;
    height: 75px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    background-color: #373737;
    color: white;
}

.loginTextDiv {
    margin-left: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    color: white;
    margin-bottom: 60px;
}

.loginTextPassword {
    font-size: 19px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.loginText {
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.loginTextPassword:hover {
    color: #FFD700;
    transition: 0.3s;
}


.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0.5rem;
    font-size: 20px;
}

.button:hover {
    background-color: #FFD700;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {

    
    .logoText {
        font-size: 40px;
    }

    .textBoxText {
        width: 80%;
        height: 50px;
        font-size: 16px;
    }

    .textBox {
        margin-top: 40px;
    }

    .loginTextDiv {
        width: 80%;
        margin-left: 10%;
    }

    .button {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .loginTextPassword {
        font-size: 16px;
    }   

    .loginText {
        font-size: 16px;
    }
}