@import url('https://fonts.cdnfonts.com/css/catamaran');

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --section-bg: #1a1a1a;
  --primary-bg: #1e1e1e;
  --card-bg: #272727;
  --button-text-color: #ffffff;
  --button-bg-color: #ffffff20;
  --joker-bg-color: #ffff;
  --toggle-bg-color: #ffffff;
  --toggle-text-color: #1e1e1e;
  --opposite-color: #ffff;
  --hover-color: #FFD700;
}

body.light {
  --bg-color: #d6d6d6;
  --text-color: #ffff;
  --section-bg: #f9f9f9;
  --primary-bg: #1e1e1e;
  --card-bg: #272727;
  --button-text-color: #000;
  --joker-bg-color: blue;
  --toggle-bg-color: #1e1e1e;
  --toggle-text-color: #ffffff;
  --opposite-color: #000000;
  --hover-color: #dcbd0c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  
  font-family: 'Catamaran', sans-serif;
}

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
}