.container {
    background-color: black;
}

.homeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
}

.commentButtonDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 5vh;
}

.commentButton {
    width: 10%;
    height: auto;
}

.commentButton:hover {
    cursor: pointer;
}