.ourServicesContainer {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 2rem;
    background-color: #272727;
    border-radius: 20px;
}

.exerciseTitle {
    position: relative;
    bottom: 20px;
    padding: 1rem;
    font-size: 1.75rem;
}

@media (max-width: 768px) {
    .ourServicesContainer {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        padding: 1rem;
        background-color: #272727;
        border-radius: 20px;
    }

    .exerciseTitle {
        font-size: 1.5rem;
    }
}